<div class="p-5">
  <div>
    <nb-card>
      <nb-card-body>

        <nb-actions size="medium">
          <nb-action routerLink="list">
            <nb-icon icon="list-outline"></nb-icon>
            <span class="px-2">Lister Etudiant</span>
          </nb-action>
          <nb-action routerLink="add">
            <nb-icon icon="plus-square-outline"></nb-icon>
            <span class="px-2">Ajouter Etudiant</span>
          </nb-action>
        </nb-actions>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="py-4">
    <router-outlet></router-outlet>
  </div>
</div>
